%div{:class => "w-4/12"}
  = render partial: 'users/side_info', locals: { user: current_user }

%div{:class => "w-8/12"}
  %div
    - @posts.each do |post|
      = render partial: 'posts/list_item', locals: { post: post }

    = paginate @posts
